button{
    border: 3px solid black;
    border-radius: 30px;
    height: 28px;
    width: 200px;
    font-weight: bold;
}
#back{
    background-color: floralwhite;
    border: 3px solid black;
    width: 15px;
    height: 15px;
    text-align: center;
}
.blue{
    background-color: dodgerblue;
    height: 100vh;
    width: 100vw;
}
.App{
    background-color: dodgerblue;
    align-content: center;
    padding-left: 35vw;
    padding-right: 35vw;
    padding-top: 80wh;
    size: small;
    font-family: Arial, Helvetica, sans-serif;
}
#question{
    size: 100px;
    font-weight: bold;
}
.question{
    background-color: #f1f1f1;
    font-size: 30px;
}
.contianer{
    align-content: center;
    background-color: dodgerblue;
}
.winner{
    align-content: center;
    font-weight: bold;
    color: deeppink;
}